body {
    font-family: Arial, sans-serif;
    background: #5d5dbb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hide {
    display: none;
}

#username {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.quiz-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#question {
    font-size: 18px;
    margin-bottom: 15px;
}

.option-btn {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
}

.correct {
    background-color: #4CAF50;
    color: white;
}

.wrong {
    background-color: #f44336;
    color: white;
}

.timer-container {
    margin-top: 15px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5px;
}

#progress {
    height: 100%;
    width: 100%;
    background: #4CAF50;
    transition: width 1s linear;
}

#score,
#highscore {
    margin-top: 15px;
    font-weight: bold;
}

#start-btn,
#end-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background: #ff9800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

#start-btn:hover,
#endBtn:hover {
    background: #392e86;
}

#restart-btn {
    padding: 10px 20px;
    margin-top: 10px;
    background: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restart-btn:hover {
    background: #1976d2;
}